@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap');

:root {
  --color-orange: #f1b604;
  --color-blue: #939bf4;
  --color-btn-prim: #44cdef;
  --color-brown: #19202d;
  --color-bg: #f2f2f2;
  --color-exlight-purple: #611b4b1f;
  --color-light-purple: #611b4b82;
  --color-purple: #611b4b;
  --color-green: #092830;
  --color-light-green: #0928309c;
  --color-exlight-green: #0928304f;
  --color-shadow-random: #dfe3e6;
  
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Kumbh Sans', sans-serif;
  background-color: var(--color-bg);
  width: 100vw;
  height: auto;
  overflow-x: hidden;
  color: #000000b8;
  transition: all 300ms;
}

button {
  font-family: 'Kumbh Sans', sans-serif;
  cursor: pointer;
  letter-spacing: 1px;
}

a {
  text-decoration: none;
  font-family: 'Kumbh Sans', sans-serif;
  cursor: pointer;
  display: contents;
}

a, p, span, li {
  line-height: 25px;
  letter-spacing: 0.3px;
}
